html {
  scroll-behavior: smooth;
}

h1 {
  padding: 0%;
  margin: 0%;
}

h3 {
  padding: 0%;
  margin: 0%;
}

header h1 {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1vh;
  margin-bottom: 0vh;
}

header h3 {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1vh;
  margin-top: 0vh;
}

#navbar {
  font-size: 1.4;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1vh;
  margin-top: 2vh;
  width: 15vw;
  height: 100%;
}

#navbar h3 {
  margin-bottom: 1vh;
}

#navbar a {
  text-decoration: none;
}

#navbar a:hover {
  color: rgba(255, 255, 255, 0.8);
}

#navbar a:visited {
  color: black;
}

#navbar a:link {
  color: black;
}

#navbar p {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1vh;
}

#links {
  font-size: 1.4;
  padding: 1vh;
  margin-top: 2vh;
  width: 15vw;
  float: right;
}

#links a {
  text-decoration: none;
}

#links a:hover {
  color: rgba(255, 255, 255, 0.8);
}

#links a:visited {
  color: black;
}

#links a:link {
  color: black;
}

#links p {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 1vh;
  padding: 0.5vh;
}
